<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="join-form" method="POST" action="/users/save" >
      <input name="email" type="email" placeholder="e-mail" />
      <input name="password" type="password" placeholder="Password" />
      <input name="nickname" type="text" placeholder="NickName" />
      <input name="phone_num" type="text" placeholder="PhoneNumber" />
      <input name="name" type="text" placeholder="Name" />
      <input name="birthday" type="date" placeholder="BirthDay" />
      <input type="submit" value="전송" />
    </form>
  </body>
</html>
