

<!DOCTYPE html>
<html>
<head>
    <title>로그인화면</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<table>
    <thead>
    <tr>
        <th>회원 아이디</th>
        <th>이메일</th>
        <th>닉네임</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for(const user of users) { %>
    <tr>
        <td><%=user.user_id%></td>
        <td><%=user.email%></td>
        <td><%=user.nickname%></td>
        <td><button onclick="window.location.href='/users/<%=user.user_id%>'">상세</button></td>
    </tr>
    <% } %>
    </tbody>
</table>


</body>
</html>